main {
    max-width: 100%0px;
    margin: 0 auto;
    padding: 20px;
    font-family: italic;
}

article {
    margin: 20px 0;
    padding: 15px;
    text-align: left;

}

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #d81f1f;
    color: white;
    padding: 20px;
}

nav {
    background-color: #a7d9e6;
    padding: 10px;
    margin: 10px 0;
}




nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}

video {
    border: #333;
    box-shadow: 0 4px 8px;
    border: 5px solid yellow;
    border-radius: 8px;
    
    
    visibility: 50%;
}


audio{
    background-color: aquamarine;
    
}

iframe {
    border: 2px solid #333;           /* Border color & width */
    border-radius: 8px;               /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);  /* Shadow effect */
    width: 100%;                       /* Make it responsive */
    max-width: 800px;                  /* Set max width */
    height: 500px;                     /* Adjust height */
    display: block;                    /* Make it block element */
    margin: 20px auto;                 /* Center it */
    background-color: #f0f0f0;        /* Background color */
    opacity: 0.9;                      /* Transparency */
}

footer{

    background-color: aliceblue;
    padding: auto;
    font-style: italic;
    font-size: larger;

}